.clocKContainer {
    position: relative;
    width: 260px;
    height: 260px;
    align-self: center;
    display: flex;
    justify-self: center;
  }
  
  .clockFace {
    background: #dce3ec;
    width: 260px;
    height: 260px;
    border-radius: 20%;
    box-shadow: 0px 15px 10px -5px rgba(184, 180, 184, 0.2);
  }
  
  .center {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    background: white;
    border: solid 2px red;
    top: 125px;
    left: 125px;
    z-index: 10;
  }
  
  .hand {
    width: 80px;
    height: 2px;
    background-color: black;
    border-radius: 30%;
    position: relative;
    transform-origin: 100%;
    transform: rotate(90deg);
    top: 115px;
    left: 50px;
    transition: all 0.4s;
  }
  
  .hourHand {
    transform: rotate(90deg);
  }
  
  .minuteHand {
    transform: rotate(90deg);
    width: 110px;
    top: 117px;
    left: 21px;
    background: black;
  }
  
  .secondHand {
    background: red;
    top: 119px;
    left: 21px;
    width: 110px;
  }
  
  /* Digital Clock */
  .timeContainer {

    font-family: "Roboto", "Open Sans", "Helvetica", sans-serif;
    overflow: hidden;
    justify-items: center;
    grid-gap: 10px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
  }
  
  .timeContainer h2 {
    grid-column: 1/-1;
    font-size: 33px;
    margin: 0;
    font-weight: 300;
  }
  .timeContainer h2 span {
      width: 35px;
      display: inline-flex;
  }
  
  .timeContainer p {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.5px;
  }
  
  .date {
    height: 15px;
    padding-left: 12px;
    color: lightgray;
  }
  
  .day {
    background: black;
    color: white;
    border-radius: 50%;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  